.experience-section {
  padding: 40px 20px;
  background: linear-gradient(to bottom, #dfe9f3);
  text-align: center;
}

.title-experience h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.experience-container {
  display: flex;
  gap: 40px; /* Aumenta la separación entre tarjetas */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Ocultar scrollbar en Chrome, Safari y Edge */
.experience-container::-webkit-scrollbar {
  height: 6px;
}

.experience-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.experience-container::-webkit-scrollbar-track {
  background: transparent;
}

.experience-container > * {
  flex: 0 0 auto;
  width: 320px; /* Ajuste de ancho */
  scroll-snap-align: start;
}

.card-experience {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Ajustar imágenes al mismo tamaño */
.card-experience img {
  width: 100%;
  height: 250px; /* Altura fija */
  object-fit: cover; /* Mantiene proporciones recortando si es necesario */
  border-radius: 10px;
  margin-bottom: 10px;
}