.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 80px;
  padding: 20px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-right: 0;
  width: 100%;
}

.animated-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}

.animated-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.animated-title {
  font-size: 2.5rem;
  text-align: center;
}

.titleProfession {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .homeSection {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .titles {
    align-items: flex-start;
    text-align: left;
    margin-right: 0;
    max-width: 50%;
  }

  .animated-container {
    align-items: flex-start;
  }

  .animated-title {
    font-size: 3.5rem;
    text-align: left;
  }

  .titleProfession {
    font-size: 2rem;
  }

  .animated-img {
    width: 350px;
    height: 350px;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .animated-img {
    width: 400px;
    height: 400px;
  }

  .animated-title {
    font-size: 4rem;
  }
}
/*PERFIL*/
.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.profile-container {
  display: flex;
  flex-direction: column; /* Cambio principal para móviles */
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 90%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.imgProfile {
  order: -1; /* Asegura que la imagen esté arriba en móviles */
  margin-bottom: 20px;
}

.imgProfile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
}

.profile-container p {
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
  margin: 0 auto;
}

/* Versión de escritorio */
@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    gap: 50px;
  }

  .imgProfile {
    order: 0; /* Restaura el orden original */
  }

  .imgProfile img {
    width: 300px;
    height: 300px;
  }

  .profile-title {
    font-size: 2.5rem;
    text-align: left;
  }

  .profile-content {
    align-items: flex-start;
    text-align: left;
  }

  .profile-container p {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .imgProfile img {
    width: 350px;
    height: 350px;
  }

  .profile-title {
    font-size: 3rem;
  }
}